__pycache__/
asm/
assets/
build/

permuter_settings.toml
undefined_syms_auto.txt
undefined_funcs_auto.txt

.ninja_log
.ninja_deps
.splache
.cache
build.ninja
progress/
iso/
SLPS_150.17*

compile_commands.json

*.bin
*.ld
*.o
ctx.c
ctx.c.m2c
