name: PaRappa the Rapper 2 (NTSC-J) (July 12th prototype)
sha1: fa7b1d19c68c4d4f06cf3047a05f2b5daaae2a1e
options:
    # paths
    basename: SCPS_150.17
    target_path: iso/SCPS_150.17
    base_path: ..
    
    asm_path: asm
    src_path: src
    build_path: build
    
    extensions_path: tools/splat_ext
    symbol_addrs_path: config/symbol_addrs.txt
    undefined_funcs_auto_path: config/undefined_funcs_auto.txt
    undefined_syms_auto_path:  config/undefined_syms_auto.txt
    
    # compiler 
    compiler: GCC
    platform: ps2

    ld_bss_contains_common: True
    
    string_encoding: EUC-JP
    rodata_string_guesser_level: 2 # improve string detection
    disasm_unknown: True
    named_regs_for_c_funcs: False
    gp_value: 0x3A0EF0
    #subalign: 4
    include_macro_inc: no # don't write macro.inc to rodata files
    
    find_file_boundaries: False
    section_order: [".text", ".data", ".rodata", ".sdata", ".sbss", ".bss"]
segments:
    - [0, databin, elf_header]
    - name: main
      type: code
      start: 0x1000
      vram: 0x100000
      bss_size: 0x18F4434
      subalign: null
      subsegments:
        - [0x1000, asm, sce/crt0]
        - [0x10c8, asm, sce/tmp]
        
        - [0x1130, c, dbug/dbgmsg]
        - [0x1838, c, dbug/syori]
        - [0x1858, c, dbug/vramsave]
        
        - [0x24a0, c, os/mtc]
        - [0x29a0, c, os/syssub]
        - [0x40a8, c, os/system]
        - [0x4850, c, os/cmngifpk]
        - [0x4f68, c, os/usrmem]
        - [0x5330, c, os/tim2]

        - [0x6120,  c, main/cdctrl]
        - [0x7d70,  c, main/stdat]
        - [0x7f28,  asm, main/scrctrl]
        - [0x10028, c, main/sprite]
        - [0x10980, c, main/fadectrl]
        - [0x10a90, c, main/subt]
        - [0x115e8, asm]
        
        - [0x79040, data, vutext] # .vutext
        
        - [0x7b900, data] # .data
        - [0x7b970, .data, dbug/dbgmsg]
        - [0x7c9e0, data, dbug/vramsave]
        - [0x7ca90, .data, os/mtc]
        - [0x7cb40, .data, os/syssub]
        - [0x7cbc0, data, os/system]
        - [0x818d8, .data, os/tim2]

        - [0x818f0, data, main/stdat]
        - [0x84258, data, main/scrctrl]
        - [0x85b88, .data, main/fadectrl]
        - [0x85ba0, data, main/subt]
        - [0x86478, data, unk]
        
        - [0x291ed0, data, vudata] # .vudata
        
        - [0x291f00, .rodata, dbug/dbgmsg] # .rodata
        - [0x291f20, .rodata, dbug/vramsave]
        - [0x291fa0, .rodata, os/mtc]
        - [0x291fc0, .rodata, os/syssub]
        - [0x292760, .rodata, os/system]
        - [0x292928, .rodata, os/cmngifpk]
        - [0x292968, .rodata, os/usrmem]
        - [0x292a30, .rodata, os/tim2]

        - [0x292a80, .rodata, main/cdctrl]
        - [0x292da8, .rodata, main/stdat]
        - [0x293a60, rodata, main/scrctrl]
        - [0x294018, .rodata, main/sprite]
        - [0x294110, rodata, unk] # drawctrl.c rodata
        
        - [0x299d80, rodatabin, gcc_except_table] # .gcc_except_table

        - [0x299f00, lit4, unk] #, main/cdctrl] # .lit4
        #- [0x299f10, lit4, main/scrctrl]
        #- [0x299f14, lit4, main/drawctrl]
        #- [0x299f38, lit4, main/effect]
        #- [0x299f40, lit4]

        - [0x29a300, rodatabin] # .sdata
        # - [0x29a308, sdata, dbug/vramsave]
        - [0x29a310, .sdata, os/mtc]
        - [0x29a318, .sdata, os/syssub]
        - [0x29a330, sdata]
        - [0x29a360, sdata, main/cdctrl]
        - [0x29a378, sdata, main/stdat]
        - [0x29a438, sdata] # main/scrctrl
        #- [0x29a504, sdata] # main/sprite
        #- [0x29a508, sdata, main/subt]
        #- [0x29a518, sdata] # main/drawctrl
        
        # - [0x29a9d8, rodatabin] # .sbss / .bss
        
        # .sbss / .bss
        - { start: 0x29aa00, type: sbss, vram: 0x00399a00, name: dbug/dbgmsg } # dbug/dbgmsg
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a18, name: os/mtc }
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a1c, name: os/cmngifpk }
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a2c, name: os/usrmem }
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a34, name: main/cdctrl }
        - { start: 0x29aa00, type: sbss, vram: 0x00399a38, name: main/scrctrl }
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a44, name: main/sprite }
        - { start: 0x29aa00, type: .sbss, vram: 0x00399a48, name: main/subt }
        - { start: 0x29aa00, type: sbss, vram: 0x00399a4c, name: main/drawctrl }
        - { start: 0x29aa00, type: sbss, vram: 0x00399a80, name: main/mbar }
        - { start: 0x29aa00, type: sbss, vram: 0x00399a98, name: main/wipe }
        - { start: 0x29aa00, type: sbss, vram: 0x00399aa0, name: main/mcctrl }
        - { start: 0x29aa00, type: sbss, vram: 0x00399aac, name: main/p3str }
        - { start: 0x29aa00, type: sbss, vram: 0x00399abc, name: menu/menu }

        - { start: 0x29aa00, type: sbss, vram: 0x00399ac4, name: unk } # menu/menu_mdl
        - { start: 0x29aa00, type: sbss, vram: 0x00399bd0, name: gcc }

        - { start: 0x29aa1c, type: bss,  vram: 0x00399c00, name: bss            }
        - { start: 0x29aa1c, type: .bss, vram: 0x00399d60, name: dbug/dbgmsg    }
        - { start: 0x29aa1c, type: .bss, vram: 0x003a9d90, name: os/mtc         }
        - { start: 0x29aa1c, type: .bss, vram: 0x003ba0c0, name: os/syssub      }
        - { start: 0x29aa1c, type: bss,  vram: 0x003babd0, name: os/system      }
        - { start: 0x29aa1c, type: bss,  vram: 0x003dad50, name: os/cmngifpk    }
        - { start: 0x29aa1c, type: bss,  vram: 0x003db380, name: os/usrmem      }
        - { start: 0x29aa1c, type: .bss, vram: 0x01c5d380, name: os/tim2        }
        - { start: 0x29aa1c, type: bss,  vram: 0x01c5e000, name: main/cdctrl    }
        - { start: 0x29aa1c, type: bss,  vram: 0x01c5f030, name: bss_unk2       }
        - { start: 0x29aa1c, type: .bss, vram: 0x01c5f030, name: main/sprite    }
        - { start: 0x29aa1c, type: .bss, vram: 0x01c65b80, name: main/fadectrl  }
        - { start: 0x29aa1c, type: bss,  vram: 0x01c6dba0, name: bss_unk3       }
        
    - [0x29aa00, databin] # pad
    - [0x29b000, databin] # .mfifo
    - [0x2ab000, databin] # .reginfo
    - [0x2ab018, databin] # .mdebug
    - [0x8aaf0d]