name: PaRappa the Rapper 2 (NTSC-J) (July 12th prototype)
sha1: fa7b1d19c68c4d4f06cf3047a05f2b5daaae2a1e
options:
    # paths
    basename: SCPS_150.17
    target_path: iso/SCPS_150.17
    base_path: ..
    
    asm_path: asm
    src_path: src
    build_path: build
    
    symbol_addrs_path: config/symbol_addrs.txt
    undefined_funcs_auto_path: config/undefined_funcs_auto.txt
    undefined_syms_auto_path:  config/undefined_syms_auto.txt
    
    # compiler 
    compiler: GCC
    platform: ps2
    
    string_encoding: EUC-JP
    rodata_string_guesser_level: 2 # improve string detection
    disasm_unknown: True
    named_regs_for_c_funcs: False
    gp_value: 0x3A0EF0
    subalign: 8
    include_macro_inc: no # don't write macro.inc to rodata files
    
    find_file_boundaries: False
    section_order: [".text", ".data", ".rodata", ".bss"]
    auto_all_sections: [".data", ".rodata", ".bss"]
segments:
    - [0, databin, elf_header]
    - name: main
      type: code
      start: 0x1000
      vram: 0x100000
      bss_size: 0x18F4434
      # subalign: null
      subsegments:
        - [0x1000, asm, sce/crt0]
        - [0x10c8, asm, sce/tmp]
        
        - [0x1130, c, dbug/dbgmsg]
        - [0x1838, c, dbug/syori]
        - [0x1858, c, dbug/vramsave]
        
        - [0x24a0, c, os/mtc]
        - [0x29a0, c, os/syssub]
        - [0x40a8, c, os/system]
        - [0x4850, c, os/cmngifpk]
        - [0x4f68, c, os/usrmem]
        - [0x5330, c, os/tim2]

        - [0x6120, asm, main/cdctrl]
        - [0x7d70, asm, unk]
        
        - [0x79040, data, vutext] # .vutext
        
        - [0x7b900, data] # .data
        - [0x7b970, .data, dbug/dbgmsg]
        - [0x7c9e0, data, dbug/vramsave]
        - [0x7ca90, .data, os/mtc]
        - [0x7cb40, .data, os/syssub]
        - [0x7cbc0, data, os/system]
        - [0x818d8, .data, os/tim2]
        - [0x818f0, data, unk]
        
        - [0x291ed0, data, vudata] # .vudata
        
        - [0x291f00, .rodata, dbug/dbgmsg] # .rodata
        - [0x291f20, .rodata, dbug/vramsave]
        - [0x291fa0, .rodata, os/mtc]
        - [0x291fc0, .rodata, os/syssub]
        - [0x292760, .rodata, os/system]
        - [0x292928, .rodata, os/cmngifpk]
        - [0x292968, .rodata, os/usrmem]
        - [0x292a30, .rodata, os/tim2]
        - [0x292a80, rodata, main/cdctrl]
        - [0x292da8, rodata, unk]
        
        - [0x299d80, rodatabin, gcc_except_table] # .gcc_except_table
        - [0x299f00, rodatabin] # .lit4
        - [0x29a300, rodatabin] # .sdata

        - [0x29a318, .sdata, os/syssub] # .sdata
        - [0x29a330, rodatabin] # .sdata
        - [0x29a360, sdata, main/cdctrl]
        - [0x29a378, rodatabin] # .sdata
        
        # - [0x29a9d8, rodatabin] # .sbss / .bss
        
        # .sbss / .bss
        - { start: 0x29aa00, type: bss,  vram: 0x00399a00, name: sbss }
        - { start: 0x29aa1c, type: bss,  vram: 0x00399c00, name: bss  }
        - { start: 0x29aa1c, type: .bss, vram: 0x01c5d380, name: os/tim2 }
        - { start: 0x29aa1c, type: bss,  vram: 0x01c5e000, name: main/cdctrl }
        - { start: 0x29aa1c, type: bss,  vram: 0x01c5f030, name: unk }
    - [0x29aa00, databin] # pad
    - [0x29b000, databin] # .mfifo
    - [0x2ab000, databin] # .reginfo
    - [0x2ab018, databin] # .mdebug
    - [0x8aaf0d]