name: PaRappa the Rapper 2 (NTSC-J) (July 12th prototype)
sha1: fa7b1d19c68c4d4f06cf3047a05f2b5daaae2a1e
options:
    # paths
    basename: SCPS_150.17
    target_path: iso/SCPS_150.17
    base_path: ..
    
    asm_path: asm
    src_path: src
    build_path: build
    
    symbol_addrs_path: config/symbol_addrs.txt
    undefined_funcs_auto_path: config/undefined_funcs_auto.txt
    undefined_syms_auto_path:  config/undefined_syms_auto.txt
    
    # compiler 
    compiler: GCC
    platform: ps2
    
    string_encoding: EUC-JP
    rodata_string_guesser_level: 2 # improve string detection
    disasm_unknown: True
    named_regs_for_c_funcs: False
    gp_value: 0x3A0EF0 # (in case we need this later)
    subalign: 8
    include_macro_inc: no # don't write macro.inc to rodata files
    
    find_file_boundaries: False
    section_order: [".text", ".data", ".rodata", ".bss"]
    auto_all_sections: [".data", ".rodata", ".bss"]
segments:
    - [0, databin, elf_header]
    - name: main
      type: code
      start: 0x1000
      vram: 0x100000
      bss_size: 0x18F4434 # needed? not sure
      subsegments:
        - [0x1000, asm, sce/crt0]
        - [0x10c8, asm, sce/tmp]
        
        - [0x1130, c, dbug/dbgmsg]
        - [0x1838, asm, unk]
        
        - [0x79040, data, vutext] # .vutext
        
        - [0x7b900, data] # .data
        - [0x7b970, data, dbug/dbgmsg]
        - [0x7c9e0, data, unk]
        
        - [0x291ed0, data, vudata] # .vudata
        
        - [0x291f00, .rodata, dbug/dbgmsg] # .rodata
        - [0x291f20, rodata, unk]
        
        - [0x299d80, rodatabin, gcc_except_table] # .gcc_except_table
        - [0x299f00, rodatabin] # .lit4
        - [0x29a300, rodatabin] # .sdata
        - [0x29a9d8, rodatabin] # .sbss / .bss
    - [0x29b000, databin] # .mfifo
    - [0x8aaf0d]